<ion-header no-border no-lines>
  <ion-navbar></ion-navbar>
</ion-header>

<ion-content>
    <form (submit)="doSubmit()" [formGroup]="form" novalidate>
      <ion-list radio-group formControlName="curr">
        <h1 margin-left margin-bottom>{{ 'CURRENCIES' | translate}}</h1>
        <ion-item mode="ios" *ngFor="let x of currencies">
          <ion-label>{{x.title}}</ion-label>
          <ion-radio mode="ios" [value]="x.id" required></ion-radio>
        </ion-item>
        <div padding>
          <button ion-button block [disabled]="!form.valid">{{ 'SAVE' | translate}}</button>
        </div>
      </ion-list>
    </form>
</ion-content>
