<ion-header no-border no-lines>
	<ion-navbar></ion-navbar>
</ion-header>
 
 <ion-content> 
   <ion-list>
    <h1 margin-left margin-bottom>{{ 'BLOG' | translate}}</h1>
    <ion-grid class="empty" *ngIf="blogs.length == 0">
			<ion-row align-items-center>
				<ion-col align-self-center text-center>
					<ion-icon name="notifications-off" color="secondary"></ion-icon>
					<h4 margin-bottom>{{ 'EMPTY' | translate}}</h4>
				</ion-col>
			</ion-row>
		</ion-grid>
    <button ion-item tappable *ngFor="let x of blogs" (click)="goTo('DetailBlogPage', x)">
      <ion-thumbnail item-start>
        <div class="img" [ngStyle]="{'background-image': 'url(' + (x.thumbnail && x.thumbnail !== null ? x.thumbnail : 'assets/img/miscellaneous/no-image.jpg') + ')'}"></div>
      </ion-thumbnail>
      <h3>{{x.title}}</h3>
      <p>{{x.date | date:'medium'}} <span *ngIf="x.comment_count">• {{x.comment_count}} comments</span></p>
    </button>
   </ion-list>
   <ion-infinite-scroll *ngIf="more" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
 </ion-content>
 