page-add-address {
    .item-input ion-input, .item-input ion-textarea, .item.item-block{
        font-size: 1.4rem !important;
    }

    ion-select.ng-invalid.ng-dirty{
        border-bottom: 1px solid color($colors, danger) !important;
    }

    ion-item.ng-invalid.ng-dirty{
        .item-inner{
            border-bottom: 1px solid color($colors, danger) !important;
        }
        ion-input:after, ion-textarea:after{
            content: "\f104";
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 2.5rem;
            font-family: "Ionicons";
            color: color($colors, danger);
        }
    }
    
}
