<ion-header transparent no-border no-lines>
  <ion-navbar transparent>
  </ion-navbar>
</ion-header>
 
 <ion-content fullscreen>
    <div class="img" [ngStyle]="{'background-image': 'url(' + (blog.thumbnail && blog.thumbnail !== null ? blog.thumbnail_images.large.url : 'assets/img/miscellaneous/no-image.jpg') + ')'}"></div>
    <div class="main-content">
        <div padding>
            <h2 item-start no-margin [innerHTML]="blog.title"></h2>
            <div [innerHTML]="blog.content"></div>
        </div>
    </div>
 </ion-content>
 