page-home {
	.fade{
		border-radius: 2px;
	}
	.newsearch .searchbar .searchbar-input{
		color: color($colors, secondary) !important;
		letter-spacing: 1px;
		font-weight: bold;
		min-height: 43px;
		background-image: url('../assets/img/logo/logo-new.png');
		background-repeat: no-repeat;
		background-size: contain;
		width: 100%;
	}
	.newsearch .searchbar {
		.icon {
			color: color($colors, secondary) !important;
		}
	}

	.newsearch .searchbar button{
		right: 0px;
	}

	.category-slide{
		height: 140px;
	}

	ion-slides:first-child{
		height: 130px;
	}

	ion-navbar .toolbar-background, .toolbar-background{
		background: color($colors, secondary) !important;
		border: none !important;
		color: white;
	}

	.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated{
		border-color: white;
	}

	.segment-md .segment-button{
		color: white;
	}

	.toolbar .segment-md{
		padding: 0 16px;
	}

	.searchbar-input{
		background-color: white;
	}

	.list .item.item-block .item-inner{
		border: none;
	}

}
