<ion-header transparent no-border no-lines>
    <ion-navbar transparent>
        <ion-buttons end>
            <button ion-button icon-only tappable (click)="viewCart()">
                <ion-icon name="basket"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content fullscreen>
    <ion-slides *ngIf="product.images && product.images.length" class="featured" loop="true" autoplay="3000" pager
                effect="coverflow">
        <ion-slide *ngFor="let x of product.images">
            <div><img [src]="x.src" imageViewer/></div>
        </ion-slide>
    </ion-slides>
    <div class="main-content">
        <div padding>
            <ion-grid no-padding>
                <ion-row no-padding align-items-center>
                    <ion-col col-75 no-padding>
                        <h2 item-start no-margin [innerHTML]="product.name"></h2>
                    </ion-col>
                    <ion-col col-auto no-padding>
                        <button item-end no-margin no-padding ion-button icon-only clear tappable
                                (click)="share(product)">
                            <ion-icon no-padding name="ios-share"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div [innerHTML]="product.short_description"></div>
        </div>

        <ion-list-header mode="md" no-margin no-padding margin-left
                         *ngIf="product.variations.length > 0 && product.type == 'variable'">
            {{'VARIATION' | translate}}
        </ion-list-header>

        <div margin-horizontal *ngIf="product.type == 'variable' && isVariationLoading">
            <ion-spinner name="dots"></ion-spinner>
        </div>

        <ion-list mode="md" radio-group (ionChange)="setVariation($event)" padding-bottom no-margin margin-horizontal
                  margin-bottom *ngIf="product.variations.length > 0">
            <ng-container *ngFor="let x of product.variations">
                <ng-container *ngFor="let y of x.attributes">
                    <ion-item mode="ios" no-padding>  <!--*ngIf="y.name== 'Women'"-->
                        <ion-label>
                        <span>
                          {{y.name}}: {{y.option}}
                        </span>
                        </ion-label>
                        <ion-radio mode="ios" value="{{x | json}}"></ion-radio>
                    </ion-item>
                </ng-container>
            </ng-container>
        </ion-list>

        <ion-list mode="md" radio-group (ionChange)="setVariation1($event)" padding-bottom no-margin margin-horizontal
                  margin-bottom *ngIf="product.variations.length > 0">
            <ng-container *ngFor="let x of product.variations">
                <ng-container *ngFor="let y of x.attributes">
                    <ion-item mode="ios" no-padding *ngIf="y.name== 'Men'">
                        <ion-label>
                        <span>
                          {{y.name}}: {{y.option}}
                        </span>
                        </ion-label>
                        <ion-radio mode="ios" value="{{x | json}}"></ion-radio>
                    </ion-item>
                </ng-container>
            </ng-container>
        </ion-list>

        <ion-list mode="md" class="specs">
            <ion-list-header mode="md" no-margin no-padding margin-left>
                {{'SPECIFICATION' | translate}}
            </ion-list-header>
            <ion-item>
                <ion-grid no-padding>
                    <ion-row no-padding>
                        <ion-col col-4 no-padding>Category</ion-col>
                        <ion-col col-8 no-padding>
                            <span *ngFor="let cat of product.categories">{{cat.name}}</span>
                        </ion-col>
                    </ion-row>
                    <ion-row no-padding *ngIf="product.total_sales">
                        <ion-col col-4 no-padding>Total Sales</ion-col>
                        <ion-col col-8 no-padding>
                            {{product.total_sales}}
                        </ion-col>
                    </ion-row>
                    <ion-row no-padding *ngIf="product.sku">
                        <ion-col col-4 no-padding>SKU</ion-col>
                        <ion-col col-8 no-padding>
                            {{product.sku}}
                        </ion-col>
                    </ion-row>
                    <ion-row no-padding *ngIf="product.stock_quantity && product.in_stock">
                        <ion-col col-4 no-padding>Stock</ion-col>
                        <ion-col col-8 no-padding>
                            {{product.stock_quantity}}
                        </ion-col>
                    </ion-row>
                    <ion-row no-padding *ngIf="product.weight">
                        <ion-col col-4 no-padding>Weight</ion-col>
                        <ion-col col-8 no-padding>
                            {{product.weight}}
                        </ion-col>
                    </ion-row>
                    <ion-row no-padding *ngFor="let att of product.attributes">
                        <ion-col col-4 no-padding>{{ att.name}}</ion-col>
                        <ion-col col-8 no-padding *ngIf="!att.options">
                            {{att.option}}
                        </ion-col>
                        <ion-col col-8 no-padding *ngIf="att.options">
                            <span *ngFor="let option of att.options"> {{ option }}</span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>

        <ion-list mode="md" *ngIf="product.description">
            <ion-list-header mode="md" no-margin no-padding margin-left margin-top>
                {{'DESCRIPTION' | translate}}
            </ion-list-header>
            <ion-item mode="md">
                <div [innerHTML]="product.description"></div>
            </ion-item>
        </ion-list>

        <ion-list-header mode="md" no-margin no-padding margin-left *ngIf="product.rating_count > 0">
            {{'REVIEW' | translate}}
        </ion-list-header>
        <ion-list no-margin margin-horizontal padding-bottom *ngIf="product.rating_count > 0">
            <ion-item *ngFor="let x of product.reviews" no-padding>
                <ion-row no-padding>
                    <ion-col col-4>
                        <div>{{x.name}}</div>
                        <div class="ago">{{x.date_created | moment:"ago" | lowercase}}</div>
                        <ion-rating *ngIf="x.rating"
                                    [numStars]="5"
                                    [readOnly]="true"
                                    [value]="x.rating">
                        </ion-rating>
                    </ion-col>
                    <ion-col col-8>
                        {{x.review}}
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-list>

        <div class="product-slide">
            <ion-list-header mode="md" no-margin no-padding margin-left margin-bottom>
                {{'RELATED' | translate}}
            </ion-list-header>

            <ion-slides margin-bottom spaceBetween="10" slidesPerView="2.5">
                <ion-slide *ngFor="let y of product.related">
                    <button class="fav" tappable (click)="setFav(y)" ion-button clear icon-only>
                        <ion-icon *ngIf="y.variations.length == 0" no-padding
                                  name="heart{{!wishlist.isFav(y) ? '-outline' : ''}}"></ion-icon>
                    </button>
                    <div text-left class="product-item" tappable (click)="goTo('ProductPage', y)">
                        <div class="img" [ngStyle]="{'background-image': 'url(' + y.images[0].src +')'}">
                            <ion-badge *ngIf="y.on_sale">{{y | discount}}</ion-badge>
                        </div>
                        <h5 [innerHTML]="y.name"></h5>
                        <div class="price" *ngIf="y.price">
                            <span class="disc" *ngIf="y.on_sale">{{y.regular_price | money:app}}</span>
                            {{y.price | money:app}}
                        </div>
                        <ion-row no-padding class="reviews" *ngIf="y.rating_count">
                            <ion-col col-auto no-padding>
                                <ion-rating *ngIf="y.average_rating" item-start
                                            [numStars]="5"
                                            [readOnly]="true"
                                            [value]="y.average_rating">
                                </ion-rating>
                                <span *ngIf="y.rating_count">{{y.rating_count}}</span>
                            </ion-col>
                        </ion-row>
                    </div>
                </ion-slide>
            </ion-slides>
        </div>
    </div>
</ion-content>

<ion-footer *ngIf="product.price">
    <ion-toolbar>
        <ion-row align-items-center>
            <ion-col class="total" align-self-center>
                <h5 *ngIf="product.price">
                    <span class="disc" *ngIf="product.on_sale">{{product.regular_price | money:app}}</span>
                    <b>{{formatPrice(product) | money:app}}</b>
                </h5>
                <ion-row no-padding class="reviews" *ngIf="product.rating_count">
                    <ion-col col-auto no-padding>
                        <ion-rating *ngIf="product.average_rating" item-start
                                    [numStars]="5"
                                    [readOnly]="true"
                                    [value]="product.average_rating">
                        </ion-rating>
                        <span *ngIf="product.rating_count">{{product.rating_count}}</span>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col align-self-center>
                <button ion-button block tappable (click)="openModal('MiniCartPage')">{{'TO_CART' | translate}}</button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>
