<ion-header>
    <ion-navbar color="light" no-padding no-margin>
        <ion-list-header>
            {{'CART' | translate}}
            <!-- <ion-icon small (click)="dismiss()" name="close" item-end></ion-icon> -->
            <button item-end no-margin margin-vertical clear ion-button small color="primary"
                    (click)="dismiss()">{{'CLOSE' | translate}}</button>
        </ion-list-header>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list-header mode="md" no-margin no-padding margin-left
                     *ngIf="product.variations.length > 0 && product.type == 'variable'">
        {{'VARIATION' | translate}}
    </ion-list-header>

    <div margin-horizontal *ngIf="product.type == 'variable' && isVariationLoading">
        <ion-spinner name="dots"></ion-spinner>
    </div>

    <ion-list mode="md" radio-group (ionChange)="setVariation($event)" padding-bottom no-margin margin-horizontal
              margin-bottom *ngIf="product.variations.length > 0">
        <ng-container *ngFor="let x of product.variations">
            <ng-container *ngFor="let y of x.attributes">
                <ion-item mode="ios" no-padding>  <!--*ngIf="y.name== 'Women'"-->
                    <ion-label>
                        <span>
                          {{y.name}}: {{y.option}}
                        </span>
                    </ion-label>
                    <ion-radio mode="ios" value="{{x | json}}"></ion-radio>
                </ion-item>
            </ng-container>
        </ng-container>
    </ion-list>
</ion-content>
<ion-footer no-padding padding-bottom *ngIf="cart.totalQtyDetail > 0">
    <ion-list no-padding no-margin>
        <ion-item no-padding>
            <h5 *ngIf="language == 'ar'">{{'SUBTOTAL' | translate}} {{cart.totalQtyDetail}}</h5>
            <h5 *ngIf="language == 'en'">{{'SUBTOTAL' | translate}} ({{cart.totalQtyDetail}} items)</h5>
            <ion-badge item-end color="secondary">{{priceMoney | money}}</ion-badge>
        </ion-item>
    </ion-list>
    <button *ngIf="!isCheckout" ion-button block small (click)="goCheckout()">{{'TO_CART' | translate}}</button>
    <ion-list no-margin>
        <button color="secondary" ion-button small block (click)="dismiss()">{{'CLOSE' | translate}}</button>
    </ion-list>
</ion-footer>
