
<ion-row no-padding no-margin class="ion-rating-container">
    <ion-col no-padding text-center *ngFor="let star of stars;let i=index" (click)="starClicked(i)">
        <fa-icon name="{{star}}"></fa-icon>
    </ion-col>
</ion-row>

